root = true

# noinspection EditorConfigKeyCorrectness
[*.{kt,kts}]
insert_final_newline=true
indent_size = 2

# KtLint用の設定
ktlint_function_naming_ignore_when_annotated_with = Composable # Composable関数で怒られないようにする

# KtLint + Android Studio用の設定
ktlint_code_style = android_studio
ij_continuation_indent_size = 2
ij_kotlin_allow_trailing_comma = true
ij_kotlin_allow_trailing_comma_on_call_site = true
